/* nav {
    display: none;
} */

.login-container {
    position: relative

}

login-div {
    border: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input {
    margin: 5%;
}

input {
    padding: 1%;
}

.login-header {
    font-size: 150%
}